body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.search-container {
    text-align: center;
    padding: 20px 0;
}

.search-container input[type="text"] {
    padding: 15px;
    width: 60%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.search-container button {
    padding: 15px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container {
    min-height: 500px; /* Set a minimum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

.price {
    font-size: 18px;
    color: #333;
}

.actions button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
